{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "emotion"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
    "prefer-const": "error",
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/member-ordering": "warn",
    "@typescript-eslint/ban-ts-ignore": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-unused-vars": ["off"],
        "no-undef": ["off"]
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
